.cell {
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.board-label {
    position: absolute;
}

.top {
    transform: translateY(-50px);
}

.bottom {
    transform: translateY(50px);
}

.left {
    transform: translateX(-50px);
}

.right {
    transform: translateX(50px);
}

.icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.selected .icon {
    animation: scaling 0.5s infinite alternate;
}

@keyframes scaling {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}

.dark {
    background-color: #000;
}

.light {
    background-color: #e3b778;
}
