.app {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player {
    height: 60px;
    text-transform: capitalize;
    font-weight: 600;
}
